.playa-name {
    font-size: 1.2em; /* Ajusta esto a lo que necesites */
}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Ajusta esto a lo que necesites */
}