h2 {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.contenedor-img {
    display: flex;
    flex-direction: column;  // Añade esta línea
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: -1.5em;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.online {
    background-color: green;
}

.offline {
    background-color: gray;
}