
.btnLogin {
    margin-top: 1em;
    width: 300px;
}

.login-background {
    --background: none;
    background: url('../../assets/imgs/wallpaper.jpg') no-repeat center center / cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
    }
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


ion-input {
    margin-bottom: 1em;
}